<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--  Meu CSS  -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--Vue -->
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- Disclaimer box -->
        <transition name="fadeAway">
            <div class="disclaimer lousyShadow" v-show="gameStatus == 'disclaimer'">
                <p>This game is a project still in progress, so, I ask you to have some patience with eventual bugs. I hope you enjoy it.</p>
                <span>Saiuke</span>
                <!-- Proceed Button -->
                <button class="growHover crookedButton lousyShadow" @click="gameStatus = 'startScreen'">PROCEED</button>
            </div>
        </transition>
        <!-- Start screen banner -->
        <div class="background redDungeon" :class="{blurFilter: flipBlur}">
            <div class="startScreen pulseAnimation">
                <!-- Game banner -->
                <img src=" img/banner.png" alt="" srcset="">
                <!-- Play Button -->
                <button class="crookedButton growHover lousyShadow" @click="gameStatus = 'playStage'">PLAY</button>
            </div>
        </div>

        <!-- Battle Arena -->

        <div class="battleArena background regularDungeon" v-if="gameStatus == 'playStage'">

            <!-- Mute and unmute button -->

            <div class="muteButton crookedButton lousyShadow growHover" @click="muted = !muted">
                <img src="img/speaker.svg" title="Unmute" v-if="muted == false">
                <img src="img/mute.svg" title="Mute icon" v-else>
            </div>

            <!-- Countdown -->
            <div v-show="countDownPanel" class="countDown" :style="[counterFontSize()]">
                <span>{{countDownNumbers}}</span>
            </div>
            <!-- Score board -->

            <div class="scoreBoard">
                <div class="score scoreHuman lousyShadow">
                    <span>{{100 - healthHuman}}%</span>
                    <div id="healthHuman" class="health" :style="[heartMonitorHuman()]">
                    </div>
                </div>
                <div class="versus pulseAnimation">
                    <img src="img/versus.png">
                </div>
                <div class="score scoreComputer lousyShadow">
                    <span>{{100 - healthComputer}}%</span>
                    <div id="healthComputer" class="health" :style="[heartMonitorComputer()]">
                    </div>
                </div>
            </div>
            <div class="loggerPanel">
                <ul>
                    <transition-group name="logger">
                        <li v-for="log in logger" :key="log.id">{{log.message}}</li>
                        </transition>
                </ul>
            </div>
            <div class="fightingPit">
                <div class="fightingPosition" id="avatarHuman">
                    <img src="img/hyu.gif" alt="">
                    <div class="attackPanel">
                        <div class="attackButton lousyShadow" id="attack" @click="hitComputer()">
                            <img src="img/sword.svg" title="Mute icon">
                        </div>
                        <div class="attackButton lousyShadow" id="defend" @click="useShield()">
                            <img src="img/shield.svg" title="Mute icon">
                            <span>{{shieldStatus}}</span>
                        </div>
                        <div class="attackButton lousyShadow" id="potion" @click="usePotion()">
                            <img src="img/bottle.svg" title="Mute icon">
                            <span>{{numberOfPotions}}</span>
                        </div>
                    </div>
                </div>
                <div class="fightingPosition" id="avatarComputer">
                    <img src="img/teeth.gif" alt="">
                </div>
            </div>
            <div class="logBoard"></div>
        </div>
    </div>
    <!-- Js Please Rotate -->
    <script src="js/pleaserotate.min.js"></script>
    <!-- Js personalizado -->
    <script src="js/app.js"></script>
</body>

</html>