<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--  Meu CSS  -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--Vue -->
    <script src="js/vue.js"></script>
    <!--Custom font -->
</head>

<body>
    <div id="app">
        <!-- Disclaimer box -->
        <transition name="fadeAway">
            <div v-if="gameStatus == 'disclaimer'" class="disclaimer">
                <p>This game is an project still in progress, so, I ask you to have some patience with eventual bugs. I
                    hope you enjoy it.</p>
                <span>Saiuke</span>
                <!-- Proceed Button -->
                <button class="growHover crookedButton" @click="gameStatus = 'startScreen'">PROCEED</button>
            </div>
        </transition>

        <!-- Start screen banner -->
        <div class="background redDungeon" :class="{blurFilter: flipBlur}">
            <transition name="fadeAway">
                <div class="startScreen pulseAnimation" v-if="gameStatus !='playStage'">
                    <!-- Game banner -->
                    <img src=" img/banner.png" alt="" srcset="">
                    <!-- Play Button -->
                    <button class="crookedButton growHover" @click="gameStatus = 'playStage'">PLAY</button>
                    <!-- Background sound -->
                    <audio v-if="gameStatus == 'startScreen'" id="dungeonEcho" autoplay loop>
                        <source src="sound/echo.ogg" type="audio/ogg">
                    </audio>
                    <audio v-if="gameStatus == 'startScreen'" id="dungeonEcho" autoplay loop>
                        <source src="sound/dungeon.wav" type="audio/wav">
                    </audio>
                </div>
            </transition>
        </div>
    </div>
    <!-- Js personalizado -->
    <script src="js/app.js"></script>
</body>

</html>